# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/
virtualenv/
.env/
.venv/

# Pruebas unitarias / cobertura
.coverage
htmlcov/
.pytest_cache/
.tox/
coverage.xml
*.cover
.hypothesis/
nosetests.xml

# IDEs y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject
.ropeproject
.DS_Store
*.swp
*.swo

# App
output/*.log
output/**/*.log
output/*.png
output/**/*.png
web/logs/*.log